<div class="sidebar">
  <div class="logo">
    <img src="/assets/images/logo.png" alt="Vagou Logo">
  </div>

  <ul class="menu-list">
    <li>
      <a routerLink="/admin/cadastro" routerLinkActive="active">
        <i class="fas fa-"></i>
        <img src="/assets/icons/cadastro.png" alt="cadastro" class="icon">
        Cadastro
      </a>
    </li>
    <li>
      <a routerLink="/admin/dashboard" routerLinkActive="active">
        <i class="fas fa-chart-line"></i>
        <img src="/assets/icons/dashboard.png" alt="dashboard" class="icon">
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/admin/usuario" routerLinkActive="active">
        <i class="fas fa-users"></i>
        <img src="/assets/icons/user.png" alt="user" class="icon">
        Usuário
      </a>
    </li>
    <li>
      <a routerLink="/admin/financeiro" routerLinkActive="active">
        <i class="fas fa-dollar-sign"></i>
        <img src="/assets/icons/finance.png" alt="finance" class="icon">
        Financeiro
      </a>
    </li>
    <li>
      <a routerLink="/admin/automovel" routerLinkActive="active">
        <i class="fas fa-car"></i>
        <img src="/assets/icons/carro.png" alt="car" class="icon">
        Automóvel
      </a>
    </li>
  </ul>

  <div class="logout">
    <a routerLink="/logout">
      <i class="fas fa-sign-out-alt"></i>
      Sair
    </a>
  </div>
</div>