.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #2F1752;
  padding: 20px;
  box-shadow: 5px 0 8px rgb(167, 122, 194);
  border-radius: 0 30px 30px 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.logo img {
  margin-top: 2%;
  width: 265px;
  margin-bottom: 22px;
}

.image-car {
  width: 2px;
  margin-top: auto;
}

.image-overlay-container {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.xadrez-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  height: auto;
  z-index: 0.1;
  bottom: 290px;
}

.car-image {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: auto;
  z-index: 2;
}