:host {
  display: block;
  position: relative; // Necessário para o posicionamento da onda
  min-height: 100vh; // Garante que ocupe a tela toda
}

/* Adiciona a onda usando um pseudo-elemento */
:host::after {
  content: '';
  bottom: 0;
  right: 0;
  position: fixed;
  width: 100%; 
  height: 100%;
  
  // Carrega a imagem
  background-image: url('/assets/images/onda.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 800px 400px;

  // Importante: z-index -1 para ficar atrás do conteúdo
  z-index: -1; 
  background-attachment: fixed;
}