:host {
  display: block;
  position: relative; 
  min-height: 100vh; 
}

:host::after {
  content: '';
  bottom: 0;
  right: 0;
  position: fixed;
  width: 100%; 
  height: 100%;
  
  background-image: url('/assets/images/onda.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 800px 400px;

  z-index: -1; 
  background-attachment: fixed;
}