<div class="sidebar">
  <div class="logo">
    <img src="/assets/images/logo.png" alt="Vagou Logo">
  </div>

  <ul class="menu-list">
    <li>
      <a routerLink="/usuario/home" routerLinkActive="active">
        <i class="fas fa-"></i>
        <img src="/assets/icons/exit.png" alt="exit" class="icon">
        Sair
      </a>
    </li>
    <li>
      <a routerLink="/usuario/home" routerLinkActive="active">
        
        <img src="/assets/icons/home.png" alt="home" class="icon">
        Home
      </a>
    </li>
    <li>
      <a routerLink="/usuario/temporizador" routerLinkActive="active">
        
        <img src="/assets/icons/time.png" alt="time" class="icon">
        Tempo
      </a>
    </li>
    <li>
      <a routerLink="/usuario/veiculos" routerLinkActive="active">
        
        <img src="/assets/icons/carro.png" alt="car" class="icon">
        Meus Veículos
      </a>
    </li>
  </ul>
  <div class="image-overlay-container">
    <img src="/assets/images/xadrez.png" alt="xadrez" class="xadrez-image">
    <img src="/assets/images/carroprincipal.png" alt="carro" class="car-image">
  </div>
</div>