.dashboard-container{
  display: block;
  padding: 24px;
  background-color: #fdfafa; 
  font-family: Arial, sans-serif;
  border-radius: 20px;

  max-width: 1300px; 
  margin: 0 auto;
}

h1 {
  font-weight: 900;
  color: #333;
  margin-bottom: 24px;
}

h4 {
  font-size: 15px;
  font-weight: 600;
  color: #555;
  margin: 0 0 16px 0;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
 
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.card-occupation {
  .value {
    font-size: 28px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
  }
  .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden; 
  }
  .progress-fill {
    height: 100%;
    background-color: #5b3e94; 
    border-radius: 5px;
  }
}

.card-revenue {
  .value {
    font-size: 28px;
    font-weight: 700;
    color: #333;
    margin-bottom: 12px;
  }
}

.card-revenue,
.card-weekly {
  min-height: 250px;
  display: flex;
  flex-direction: column;

  .chart-container {
    flex-grow: 1; 
    position: relative;
  }
}

.card-payments {
  .payment-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px; 
  }

  .payment-item {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 16px;
    font-size: 14px;
    color: #333;

    span:nth-child(2) {
      font-weight: 600; 
    }
    span:nth-child(3) {
      color: #888; 
      text-align: right;
    }
  }
}

@media (max-width: 700px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}