<div class="user-header">

    <div class="content-wrapper">

        <div class="top-row">
            <h1>Usuários</h1>
            <button class="add-user-btn">Adicionar Usuário</button>
        </div>

       <div class="search-container">
  <img src="assets/icons/lupa.png" alt="Ícone de busca" class="search-icon">
  
  <input type="search" class="search-input" placeholder="Busca">
</div>



<ul class="dados">
    <li>Nome</li>
    <li>Celular</li>
    <li>Saldo</li>
    <li>Status</li>
    <li>Ação</li>
</ul>

    </div>
</div>