.container {
    margin-top: 5%; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px; 
}

.left {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #6C30C5;
    font-weight: 600;
    font-size: 2.5em; 
    margin-bottom: 50px;
}

.timer-circle-container {
    position: relative;
    width: 380px;  
    height: 380px; 
    margin: 0 auto;
    overflow: visible;
}

@keyframes girar-circulo-continuo {
    0% { transform: rotate(-90deg); }
    100% { transform: rotate(270deg); }
}

.timer-ring {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    animation: girar-circulo-continuo 3s linear infinite;
}

.timer-bg {
    fill: none;
    stroke: rgba(255, 255, 255, 0.3);
    stroke-width: 4; 
}

.timer-progress {
    fill: none;
    stroke: url(#gradiente-timer);
    stroke-width: 8; 
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 0;
}

.timer-time {
    position: absolute;
    top: 45%; 
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 80px; 
    font-weight: 700;
    z-index: 2;
    white-space: nowrap;
    
    background: linear-gradient(135deg, #E94C89, #6C30C5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    transition: font-size 0.3s ease; 
}

.small-font {
    font-size: 50px !important;
    top: 48%; 
}

.timer-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #5a4a80;
    margin: 0;
    z-index: 2;
    font-weight: 600;
}

.btn {
    margin-top: 60px;
    padding: 22px 80px; 
    border: none;
    border-radius: 60px;
    background: linear-gradient(135deg, #6C30C5, #E94C89, #FFB347);
    color: #FFB347;
    font-weight: 700;
    
    font-size: 24px; 
    
    letter-spacing: 1px;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    transform: scale(1.05);
}

.right {
    background: linear-gradient(135deg, #FFA733, #E94C89, #6C30C5);
    color: white;
    
    padding: 40px 50px; 
    border-radius: 30px;
    width: 400px;
    
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h2 {
    color: #2400B9;
    font-size: 36px; 
    margin-bottom: 25px;
    text-transform: uppercase;
}

.right p {
    margin: 12px 0;
    font-size: 20px; 
    line-height: 1.5;
}