* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 500px;
}

h1 {
  text-align: center;
  color: #2b2b2b;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.form-section, .list-section {
  background: #DFE8F5;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0px 10px 8px rgba(0,0,0,0.1);
}

.form-section h2, .list-section h2 {
  color: #2b2b2b;
  font-size: 20px;
  margin-bottom: 70px;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-box label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #3a3a3a;
}

.input-box input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
}

.btn {
  display: block;
  margin: 20px auto 0;
  padding: 10px 40px;
  background: linear-gradient(90deg, #5D3FD3);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.vehicle-card {
  display: flex;
  align-items: center;
  background: #f3f5fd;
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 10px;
  justify-content: space-between;
}

.vehicle-card img.car-img {
  width: 60px;
  height: auto;
}

.vehicle-info {
  flex: 1;
  margin-left: 10px;
}

.vehicle-info p {
  font-size: 14px;
  color: #333;
}

.modelo {
  color: #6b6b6b;
  font-size: 13px;
}

.status {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
}

/* ===== ÍCONES CIRCULARES CSS ===== */
.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
}

.check {
  background-color: #1abc5b;
  position: relative;
}

.check::after {
  content: "✔";
  font-size: 15px;
  color: white;
}

.cross {
  background-color: #7a7a7a;
  position: relative;
}

.cross::after {
  content: "✖";
  font-size: 15px;
  color: white;
}

.status span {
  font-size: 14px;
}

.status.ativo span:last-child {
  color: #1a9f42;
}

.status.inativo span:last-child {
  color: #666;
}
