<div class="container">
  
  <div class="header-block">
      <div class="balance">{{ balance | currency:'BRL' }}</div>
      <div class="user-info">
          <div class="user-icon-container">
              <i class="fa-solid fa-user"></i>
          </div>
          <p>Olá, {{ user.nome }}</p>
      </div>
  </div>

  <div class="info-block">
      <h2>Informações Pessoais</h2>
      <div class="personal-details">
          <div class="input-group">
              <input type="text" id="nome" [value]="'Nome: ' + user.nome" readonly>
          </div>
          <div class="input-group">
              <input type="text" id="sobrenome" [value]="'Sobrenome: ' + user.sobrenome" readonly>
          </div>
          <div class="input-group">
              <input type="email" id="email" [value]="'Email: ' + user.email" readonly>
          </div>
          <div class="input-group">
              <input type="tel" id="telefone" [value]="'Telefone: ' + user.telefone" readonly>
          </div>
      </div>
  </div>

  <div class="info-block">
      <h2>Meus Veículos</h2>
      
      <div *ngFor="let vehicle of vehicles" 
           class="vehicle-item" 
           [ngClass]="{ 'active': vehicle.ativo, 'inactive': !vehicle.ativo }">
          
           <img [src]="vehicle.imagem" alt="Imagem do Veículo" class="car-image">
           <div class="vehicle-details">
               <p class="license-plate">Placa: {{ vehicle.placa }}</p>
               <p class="model">Modelo: {{ vehicle.modelo }}</p>
           </div>
           
           <div *ngIf="vehicle.ativo" class="status-badge active-status">
               <i class="fa-solid fa-circle-check"></i>
               <span>Ativo</span>
           </div>
           <div *ngIf="!vehicle.ativo" class="status-badge inactive-status">
               <i class="fa-solid fa-circle-xmark"></i>
               <span>Inativo</span>
           </div>
      </div>

      <div class="button-container">
          <button class="add-vehicle-button">Adicionar Novo Veículo</button>
      </div>
  </div>
</div>