<form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()" class="usuario-box-1">

  <header class="header">
    <h1>CADASTRO</h1>
    <span></span>
  </header>

  <div class="usuario-info">
    <h1 class="usuario">Usuário</h1>
    <ul class="Nomesobre">
      <li>
        <label>Nome</label><br />
        <input type="text" formControlName="nome" placeholder="Seu Nome Completo" class="usu"/>
        <div *ngIf="cadastroForm.get('nome')?.touched && cadastroForm.get('nome')?.invalid" class="error">
          Nome é obrigatório (mín. 3 letras).
        </div>
      </li>

      <li>
        <label>Telefone</label><br />
        <input type="text" formControlName="telefone" placeholder="(XX) 99999-9999" class="usu"/>
        <div *ngIf="cadastroForm.get('telefone')?.touched && cadastroForm.get('telefone')?.invalid" class="error">
          Telefone é obrigatório.
        </div>
      </li>

      <li>
        <label>E-mail</label><br />
        <input type="email" formControlName="email" placeholder="email@exemplo.com" class="usu"/>
        <div *ngIf="cadastroForm.get('email')?.touched && cadastroForm.get('email')?.invalid" class="error">
          Insira um e-mail válido.
        </div>
      </li>

      <li>
        <label>Senha</label><br />
        <input type="password" formControlName="senha" placeholder="********" class="usu"/>
        <div *ngIf="cadastroForm.get('senha')?.touched && cadastroForm.get('senha')?.invalid" class="error">
          Senha obrigatória (mín. 6 caracteres).
        </div>
      </li>
    </ul>
  </div>

  <h1 class="Automovel">Automóvel</h1>
  <div class="veiculo-info">
    <div class="form-grid">
      <div class="grupo-auto">
        <label>Placa</label>
        <input type="text" formControlName="placa" placeholder="ABC-1234"/>
      </div>

      <div class="grupo-auto">
        <label>Modelo</label>
        <input type="text" formControlName="modelo" placeholder="Ex: Gol, Onix..."/>
      </div>

      <div class="grupo-auto">
        <label>Cor</label>
        <select formControlName="cor">
          <option value="">Selecione</option>
          
          <option value="black">Preto</option>
          <option value="white">Branco</option>
          <option value="red">Vermelho</option>
          <option value="gray">Cinza</option>
          <option value="silver">Prata</option>
          <option value="yellow">Amarelo</option>
          <option value="blue">Azul</option>
        </select>
      </div>
    </div>
  </div>

  <button type="submit" class="bot-cadastrar">Cadastrar</button>
</form>