<header class="header">
  <h1>CADASTRO</h1>
  <span>fulano</span>
</header>


  <div class="usuario-box-1">
    <div class="usuario-info">
      <h1 class="usuario">Usuario</h1>
      <ul class="Nomesobre">
        <li>
          <label>Nome</label>
          <br />
          <input class="usu" type="text" placeholder="Nome" />
        </li>
        <li>
           <label>Telefone</label>
          <br />
          <input class="usu" type="text" placeholder="(55)99999-9999" />
        </li>
      </ul>
    </div>
  </div>

  <div class="usuario-box-2">
    <h1 class="Automovel">Automóvel</h1>

    <div class="veiculo-info">
      <div class="form-grid">
        <div class="grupo-auto">
          <label>Veículo</label>
          <select>
            <option>Selecione</option>
             <option value="carro">Carro</option>
            <option value="moto">Moto</option>
          </select>
        </div>

        <div class="grupo-auto">
          <label>Placa</label>
          <input type="text" placeholder="ABC-123" />
        </div>

        <div class="grupo-auto">
          <label>Cor</label>
          <select>
            <option>Selecione</option>
             <option value="preto">Preto</option>
            <option value="branco">Branco</option>
            <option value="vermelho">Vermelho</option>
             <option value="Cinza">Cinza</option>
            <option value="Prata">Prata</option>
            <option value="Amarelo">Amarelo</option>
          </select>
        </div>

        
        </div>

  <button class="bot-cadastrar">Cadastrar</button>

