<form [formGroup]="cadastroForm" (ngSubmit)="salvar()" class="usuario-box-1">

  <header class="header">
   
    <h1>{{ isEdicao ? 'EDITAR USUÁRIO' : 'CADASTRO' }}</h1>
    <span></span>
  </header>

  <div class="usuario-info">
    <h1 class="usuario">Usuário</h1>
    <ul class="Nomesobre">
      <li>
        <label>Nome</label><br />
        <input type="text" formControlName="nome" placeholder="Seu Nome Completo" class="usu"/>
      </li>

      <li>
        <label>Telefone</label><br />
        <input type="text" formControlName="telefone" placeholder="(XX) 99999-9999" class="usu"/>
      </li>

      <li>
        <label>E-mail</label><br />
        <input type="email" formControlName="email" placeholder="email@exemplo.com" class="usu"/>
      </li>

      <li>
        <label>Senha {{ isEdicao ? '(Opcional)' : '' }}</label><br />
        <input type="password" formControlName="senha" placeholder="********" class="usu"/>
      </li>
    </ul>
  </div>

  <h1 class="Automovel">Automóvel</h1>
  <div class="veiculo-info">
    <div class="form-grid">
      <div class="grupo-auto">
        <label>Placa</label>
        <input type="text" formControlName="placa" placeholder="ABC-1234"/>
      </div>

      <div class="grupo-auto">
        <label>Modelo</label>
        <input type="text" formControlName="modelo" placeholder="Ex: Gol, Onix..."/>
      </div>

      <div class="grupo-auto">
        <label>Cor</label>
        <select formControlName="cor">
          <option value="">Selecione</option>
          <option value="black">Preto</option>
          <option value="white">Branco</option>
          <option value="red">Vermelho</option>
          <option value="gray">Cinza</option>
          <option value="silver">Prata</option>
          <option value="yellow">Amarelo</option>
          <option value="blue">Azul</option>
        </select>
      </div>
    </div>
  </div>

  <button type="submit" class="bot-cadastrar">
    {{ isEdicao ? 'Salvar Alterações' : 'Cadastrar' }}
  </button>
</form>